.footer{
    padding: 45px 0;
    &__content{
        max-width: $width;
        margin: 0 auto;
        @include flex(space-around, center, row);
    }
    &__sector{
        @include flex(center, center, column)
    }
}