.layout{
  &__content{
    font-family: $font-regular;
    color: #FF2B51;
    background-color: #1d1e22;
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    padding: $header-height+5px 25px 25px;
  }
}