.trigger{
  display: none;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: background-color .2s;
  font-size: 17px;
  font-weight: 600;
  padding: 0 15px;
  @media (max-width: 767px) {
      display: flex;
    }
  &__icon{
    height: 12px;
    width: 14px;
    transition: 1s;
    position: relative;
    padding: 0;
    margin-left: 19px;
    &:before{
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $red;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &:after{
      content: '';
      bottom: 0;
      height: 2px;
      width: inherit;
      background: $red;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &--active{
      &:before{
        transform: translateY(5px) rotate(45deg) scaleX(1.4);
        background: $red;
      }
      &:after{
        transform: translateY(-5px) rotate(-45deg) scaleX(1.4);
        background: $red;
      }
    }
  }
  &__icon-line{
    top: 5px;
    width: inherit;
    height: 2px;
    background: $red;
    position: absolute;
    &--active{
      display: none;
    }
  }
}