$background-color: rgba(247, 248, 249, 1); // #f7f8f9;
$red: rgba(228, 0, 55, 1); // #E40037;
$white: rgba(250, 250, 250, .9);
$font-color: #bbbbbb;

$font-regular: "VR", "sans-serif";

// height
$header-height: 110px;

// width layout
$width: 1200px;