@import "vars";
@import "mixins/mixins";
@import "fonts";
@import "settings";
@import "vendor/vendor";


body {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  color: green;
  text-align: center;
}

.img {
  display: block;
  height: 150px;
  width: 280px;
  margin: 0 auto;
}